[submodule "programme-jedi-padawan"]
	path = programme-jedi-padawan
	url = https://github.com/fjulien/programme-jedi-padawan.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/fjulien/rustlings.git
